* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body, button {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-weight: 500;
  margin: 0;
}

h2, h3 {
  color: gray;
  font-weight: 100;
  margin: 0;
}

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  margin: 3px 25px;
}

button {
  border-radius: 40px;
  padding: 7px;
  width: 130px;
  font-weight: 300;
  text-transform: capitalize;
  margin: 5px 10px;
}

form > div > button {
  padding: 10px;
  margin: 5px;
  width: 450px;
  border-radius: 4px;
  border: 1px solid black;
}

input[type=text], textarea {
  padding: 10px;
  margin: 5px;
  width: 450px;
  border: 1px solid black;
  border-radius: 4px;
  resize: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  margin: 7px auto;
  padding: 5px;
  max-width: 600px;
}

.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header-title {
  align-self: center;
  text-align: center;
  margin: 10px;
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px dashed rgba(255, 255, 0, 0.836);
  border-radius: 50%;
  margin: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.switch-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.story-container {
  max-width: 590px;
  display: block;
  margin: auto 8px;
  margin-bottom: 8px;
  line-height: 30px;
}
/* vertical line */
.career-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.career-timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: royalblue;
  top: 0;
  bottom: 0;
  left: 10%;
  margin-left: -3px;
}

.career-container {
  padding: 10px 35px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* circles */
.career-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 14%;
  background-color: green;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right {
  left: 9.8%;
}
/* arrow */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 21px;
  width: 0;
  z-index: 1;
  left: 25px;
  border: medium solid rgb(255, 0, 212);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(0, 255, 213) transparent transparent;
}

.right::after {
  left: -16px;
}

.career-content {
  padding: 20px 30px;
  background-color: rgb(0, 255, 213);
  position: relative;
  border-radius: 6px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 25px;
}
